body{
    
    
    /* background-color: rgb(181, 222, 222); */
}
form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 380px;
    margin-top: 40px;
    /* border-style: groove; */
}
form>h2{
    text-align: center;
}
input{
    width: 98%;
    height: 56px;
    margin: auto;
    margin-bottom: 20px;
    padding: auto;
    border-style: 1px ;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

}
form>p{
    text-align: center;
    
}
#submit{
    border-style: none;
    background-color: #212020;
    
    color: aliceblue;
}
#submit:hover{
    background-color: rgb(247, 31, 31);
    cursor: pointer;
}
#footer{
    background-color: rgb(19, 17, 17);
    height: 400px;
    width: 99%;
    display: grid;
    justify-content: space-evenly;
    /* margin: auto; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,300px);
    /* height: 1000%; */
}
#footer>div{
    /* border-style: groove; */
    margin: auto;
    width: 50%;
    padding: 10px;
    /* margin: 10px; */
}
#main{
    width: 80%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: white;
    border-bottom: 1px solid red;
}
.footerp{
    color:#b1aeae;
}
.footerp:hover{
    cursor: pointer;
    color:#f04c4c;
}
#social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#social>p{
    color:#b1aeae;
}
#copyright{
    text-align: center;
    color: #b1aeae;
    background-color: #212020;
    margin: 0px ;
    padding: 0px ;
    height: 20px;
    width: 99%;
    
}
#copyright>p{
    margin: 0px;
}
#errormobile{
    margin: 0px;
    padding: 0px;
    text-align: start;
    font-size: 10px;
    margin-top: -19px;
    color: red;
    font-family: emoji;
}
#erroepass{
    margin: 0px;
    padding: 0px;
    text-align: start;
    font-size: 10px;
    margin-top: -19px;
    color: red;
    font-family: emoji;
}

@media all and (min-width:370px) and (max-width:420px){

    form{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 54%;
        height: 386px;
        margin-top: 40px;
        /* border-style: groove; */
    }

    input{
        width: 93%;
        height: 42px;
        margin: auto;
        margin-bottom: 20px;
        padding: auto;
        border-style: 1px ;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    
    }

    #footer{
        background-color: rgb(19, 17, 17);
        height: auto;
        width: 99%;
        display: grid;
        justify-content: space-evenly;
        /* margin: auto; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,414px);
        /* height: 1000%; */
    }
    

}
