*{
    margin: 0px;
    padding: 0px;
}
#head>div>img{
    width: 12%;
    margin: auto;
   
}
#head>div{
    display: flex;
    justify-content: center;
    /* border-style: groove; */
    margin: auto;
    height: 60px;
}
#head>img{
    width: 100%;
}
 
p{
    text-align: center;
    margin: 27px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    
}
#scnd{
    line-height: 1.5;
    font-weight: 300;
    color: #676f81;
    font-size: 18px;
}
#subbody{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    
}
#subbody>div{
    background-color: rgb(250, 245, 245);
}
#subbody>div{
    width:30%;
    height: 730px;
    border-style: groove;
    border-radius: 10px;
}
.radio{
    display: flex;
    height: 55px;
    border-color: #676f81;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* justify-content:space-evenly; */
    margin: 9px;
    border-bottom: 1px solid grey;
} 
#rupe{
    font-size: 19px;
    color: rgb(235, 111, 111);
    text-decoration: line-through;
    margin-top: 24px;
} 
#innerdiv{
    display: flex;
    justify-content: end;
    margin: 0px 0px 0px 86px;
}
#dollar{
    margin-left: 12px;
    color: rgb(235, 111, 111);
    font-size: 19px;
    margin-top: 24px;
} 
#percen{
    margin-left: 12px;
    color: rgb(235, 111, 111);
    font-size: 12px;
    margin-top: 29px;
}
span>h3{
    text-align: center;
    margin: auto;
}
#benfit{
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */

    justify-content: space-around;
    height: 80px;
    margin: 10px ;
    padding: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}
#offerh{
    text-align: center;
    margin: 3px 3px 10px 0px
}
#offersection{
    margin: 7px 3px 0px 16px;
    display: flex;
    flex-direction: row;
    padding: auto;
    width: 90%;
    height: 52px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* border-style: groove; */
    background-color: white;
    border-radius: 7px;
}
#offersection>img{
    width: 15%;
    padding: 5px;

}
#offersection>span{
    text-align: justify;
    font-size: 12px;
    margin: 2px 2px 2px 9px;
    padding: 12px;
}
.scrol{
    /* background-color: rgb(218, 218, 218); */
  width: 100%;
  height: 239px;
  overflow: scroll;
    /* background-color: #676f81; */
    /* overflow:scroll; */
}
#coupon{
    display: flex;
    align-items: center;
    
}
#coupon>input{
    margin: auto;
    display: flex;
    margin-top: 27px;
    height: 41px;
    width: 73%;
    height: 35px;
    margin-left: 47px;
    padding: 7px;
    border-radius: 10px;
}
#apply{
    width: 37%;
    /* margin: auto; */
    display: flex;
    margin-top: 27px;
    height: 47px;
    margin-left: 22px;
    padding: 1px;
    display: flex;
    text-align: center;
    border-style: groove;
    border-radius: 10px;
}
#button{
    width:90% ;
    height: 58px;
    /* border-style: groove; */
    border-radius: 23px;
    margin:41px 0px 0px 14px;
    font-size: 23px;
    background-color: rgb(240, 51, 51);
}
#btn{
    width:90% ;
    height: 58px;
    /* border-style: groove; */
    border-radius: 23px;
    margin:265px 0px 0px 14px;
    font-size: 23px;
    background-color: rgb(240, 51, 51);
}

/* @media all and   (min-width:500px) and (max-width:1024px){

    #subbody{
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        
    }
    #subbody>div{
        width:97%;
        height: 730px;
        border-style: groove;
        border-radius: 10px;
        margin: auto;
    }
} */


